html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para BoxModel */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "krub", sans-serif;
    background-image: linear-gradient(
        to top,
        var(--grisClaro) 0%,
        var(--blanco) 100%
    );
}

:root{
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --blanco: white;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
}

.w-100{
    width: 100%;
}
@media (min-width: 768px){
    .w-100{
        width: auto;
    }
}

.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}


.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

@media(min-width:760px){
    .boton{
        width: auto;
    }
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112, 0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.titulo {
    h1 {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
    } 

    span {
        font-size: 20px;
        font-family: "Krub", sans-serif;
    }
}

.navegacion {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion a:hover{
    background-color: var(--primario);
    color: var(--gris);
}

.contenedor{
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    /* Alternativamente puede usarse margin: 0 auto 
    Recuerda lo del video, es porque se repite el formato*/
}

.nav-bg {
    background-color: var(--secundario);
}

a {
    color: white;
    text-decoration: none;
    font-family: "Krub", sans-serif;
    font-weight: 300;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
}

.hero{
    background-image: url(../imagenes/escritorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco)

}

.servicios, 
.navegacion,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio a{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media(min-width:768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1/3;
    }
}


.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.campo textarea{
    height: 20rem;
}

.footer{
    text-align: center;
}


/* Alternativamente se pueden hacer class con un # */

@media (min-width: 480px){
    body{
        background-color: blue;
    }
}

@media(min-width: 768px) {
    .navegacion{
        flex-direction: row;
    }
}